In [13]:
from osgeo import gdal, ogr, osr

from src.maritime_module.utils.s57_utils import S57Utils, NoaaDatabase

In [14]:
utils = s57_utils.S57Utils()

In [15]:
obj = utils._load_objects_df()
obj

,Code,ObjectClass,Attribute_A,Attribute_B,Attribute_C,Class,Primitives
Acronym,,,,,,,
ADMARE,1,Administration area (Named),JRSDTN;NATION;NOBJNM;OBJNAM;,INFORM;NINFOM;NTXTDS;PICREP;SCAMAX;SCAMIN;TXTDSC;,RECDAT;RECIND;SORDAT;SORIND;,G,Area;
AIRARE,2,Airport / airfield,CATAIR;CONDTN;CONVIS;NOBJNM;OBJNAM;STATUS;,INFORM;NINFOM;NTXTDS;PICREP;SCAMAX;SCAMIN;TXTDSC;,RECDAT;RECIND;SORDAT;SORIND;,G,Point;Area;
ACHBRT,3,Anchor berth,CATACH;DATEND;DATSTA;NOBJNM;OBJNAM;PEREND;PERS...,INFORM;NINFOM;NTXTDS;SCAMAX;SCAMIN;TXTDSC;,RECDAT;RECIND;SORDAT;SORIND;,G,Point;Area;
ACHPNT,1003,Anchor,NaN,NaN,NaN,NaN,NaN
ACHARE,4,Anchorage area,CATACH;DATEND;DATSTA;NOBJNM;OBJNAM;PEREND;PERS...,INFORM;NINFOM;NTXTDS;SCAMAX;SCAMIN;TXTDSC;,RECDAT;RECIND;SORDAT;SORIND;,G,Point;Area;
...,...,...,...,...,...,...,...
lg_vsp,18002,Maximum permitted vessel speed,NaN,lg_rel;lg_des;lc_csi;lc_cse;lc_asi;lc_ase;lc_c...,SORDAT;SORIND;,G,Area;
ANNOTA,22001,Annotation,ANATR1;ANATR2;ANATR3;ANLYR1;ANATR5;ANATR4;ANAT...,INFORM;NINFOM;NTXTDS;SCAMAX;SCAMIN;TXTDSC;,RECDAT;RECIND;SORDAT;SORIND;,G,Point;
RESTRC,22009,Generic Boundary,DATEND;DATSTA;NOBJNM;OBJNAM;PEREND;PERSTA;STATUS;,INFORM;NINFOM;NTXTDS;SCAMAX;SCAMIN;TXTDSC;,RECDAT;RECIND;SORDAT;SORIND;,G,Line;
TRFLNE,22010,Traffic Line,DATEND;DATSTA;NOBJNM;OBJNAM;PEREND;PERSTA;STATUS;,INFORM;NINFOM;NTXTDS;SCAMAX;SCAMIN;TXTDSC;,RECDAT;RECIND;SORDAT;SORIND;,G,Line;
GENNAV,22011,Generic NavAid,DATEND;DATSTA;NOBJNM;OBJNAM;PEREND;PERSTA;STATUS;,INFORM;NINFOM;NTXTDS;SCAMAX;SCAMIN;TXTDSC;,RECDAT;RECIND;SORDAT;SORIND;,G,Point;

In [16]:
utils.get_object_class_name("BCNLAT")

'Beacon, lateral'

In [17]:
attr = utils._load_attributes_df()
attr

            Code                           Attribute Attributetype Class
Acronym
AGENCY       1.0   Agency responsible for production             A     F
BCNSHP       2.0                        Beacon shape             E     F
BUISHP       3.0                      Building shape             E     F
BOYSHP       4.0                          Buoy shape             E     F
BURDEP       5.0                        Buried depth             F     F
...          ...                                 ...           ...   ...
AGEN         NaN                 Numeric agency code           NaN   NaN
FIDN         NaN       Feature identification number           NaN   NaN
FIDS         NaN  Feature identification subdivision           NaN   NaN
RCID         NaN                   Record identifier           NaN   NaN
PRIM     50001.0          Object geometric primitive           NaN   NaN

[321 rows x 4 columns]

In [18]:
utils.get_attribute_name("CATBRG")

'Category of bridge'

In [19]:
noaa_db = NoaaDatabase()

In [20]:
noaa_db.get_dataframe()

,ENC_Name,XML,Edition,Update_Application_Date,Update,Issue_Date,Zip_File_Date_Time,CGDs
Num,,,,,,,,
1,US1AK90M,View,24,09/17/2024,2,05/15/2025,08/09/2025 04:52:59,17
2,US1BS01M,View,16,08/15/2024,1,10/10/2024,08/09/2025 04:52:59,17
3,US1BS02M,View,12,03/22/2024,2,07/22/2025,08/09/2025 04:52:59,17
4,US1BS03M,View,11,08/30/2018,5,11/19/2020,08/09/2025 04:52:59,17
5,US1BS04M,View,6,08/29/2018,0,08/29/2018,08/09/2025 04:52:58,17
...,...,...,...,...,...,...,...,...
5978,US6WI01A,View,1,03/06/2025,0,03/06/2025,08/09/2025 04:34:04,9
5979,US6WI01M,View,4,03/06/2025,0,03/06/2025,08/09/2025 04:34:03,9
5980,US6WI20A,View,1,08/22/2024,1,09/18/2024,08/09/2025 04:34:03,9
5981,US6WI20B,View,1,08/22/2024,1,09/18/2024,08/09/2025 04:34:03,9
5982,US6WI23A,View,1,08/30/2024,0,08/30/2024,08/09/2025 04:34:03,9

In [21]:
noaa_db.get_charts(as_dataframe=True)

      enc_name  edition  update update_application_date issue_date cgds
0     US1AK90M       24       2              2024-09-17 2025-05-15   17
1     US1BS01M       16       1              2024-08-15 2024-10-10   17
2     US1BS02M       12       2              2024-03-22 2025-07-22   17
3     US1BS03M       11       5              2018-08-30 2020-11-19   17
4     US1BS04M        6       0              2018-08-29 2018-08-29   17
...        ...      ...     ...                     ...        ...  ...
6220  US6WI01A        1       0              2025-03-06 2025-03-06    9
6221  US6WI01M        4       0              2025-03-06 2025-03-06    9
6222  US6WI20A        1       1              2024-08-22 2024-09-18    9
6223  US6WI20B        1       1              2024-08-22 2024-09-18    9
6224  US6WI23A        1       0              2024-08-30 2024-08-30    9

[6225 rows x 6 columns]