# S57 Utils

## 1. Attributes and Objects

In [1]:
import sys
import os
from distutils.command.config import config
from pathlib import Path


# Add the src directory to the Python path
project_root = Path.cwd().parent.parent
if str(project_root) not in sys.path:
    sys.path.append(str(project_root))

from src.maritime_module.utils.s57_utils import S57Utils
utils = S57Utils()

/tmp/ipykernel_3140/2712652327.py:3: DeprecationWarning: The distutils package is deprecated and slated for removal in Python 3.12. Use setuptools or check PEP 632 for potential alternatives
  from distutils.command.config import config

### S57 Objects / Layers

In [3]:
utils.get_objects_df()

,code,objectclass,attribute_a,attribute_b,attribute_c,class,primitives
acronym,,,,,,,
admare,1,Administration area (Named),JRSDTN;NATION;NOBJNM;OBJNAM;,INFORM;NINFOM;NTXTDS;PICREP;SCAMAX;SCAMIN;TXTDSC;,RECDAT;RECIND;SORDAT;SORIND;,G,Area;
airare,2,Airport / airfield,CATAIR;CONDTN;CONVIS;NOBJNM;OBJNAM;STATUS;,INFORM;NINFOM;NTXTDS;PICREP;SCAMAX;SCAMIN;TXTDSC;,RECDAT;RECIND;SORDAT;SORIND;,G,Point;Area;
achbrt,3,Anchor berth,CATACH;DATEND;DATSTA;NOBJNM;OBJNAM;PEREND;PERS...,INFORM;NINFOM;NTXTDS;SCAMAX;SCAMIN;TXTDSC;,RECDAT;RECIND;SORDAT;SORIND;,G,Point;Area;
achpnt,1003,Anchor,NaN,NaN,NaN,NaN,NaN
achare,4,Anchorage area,CATACH;DATEND;DATSTA;NOBJNM;OBJNAM;PEREND;PERS...,INFORM;NINFOM;NTXTDS;SCAMAX;SCAMIN;TXTDSC;,RECDAT;RECIND;SORDAT;SORIND;,G,Point;Area;
...,...,...,...,...,...,...,...
lg_vsp,18002,Maximum permitted vessel speed,NaN,lg_rel;lg_des;lc_csi;lc_cse;lc_asi;lc_ase;lc_c...,SORDAT;SORIND;,G,Area;
annota,22001,Annotation,ANATR1;ANATR2;ANATR3;ANLYR1;ANATR5;ANATR4;ANAT...,INFORM;NINFOM;NTXTDS;SCAMAX;SCAMIN;TXTDSC;,RECDAT;RECIND;SORDAT;SORIND;,G,Point;
restrc,22009,Generic Boundary,DATEND;DATSTA;NOBJNM;OBJNAM;PEREND;PERSTA;STATUS;,INFORM;NINFOM;NTXTDS;SCAMAX;SCAMIN;TXTDSC;,RECDAT;RECIND;SORDAT;SORIND;,G,Line;
trflne,22010,Traffic Line,DATEND;DATSTA;NOBJNM;OBJNAM;PEREND;PERSTA;STATUS;,INFORM;NINFOM;NTXTDS;SCAMAX;SCAMIN;TXTDSC;,RECDAT;RECIND;SORDAT;SORIND;,G,Line;
gennav,22011,Generic NavAid,DATEND;DATSTA;NOBJNM;OBJNAM;PEREND;PERSTA;STATUS;,INFORM;NINFOM;NTXTDS;SCAMAX;SCAMIN;TXTDSC;,RECDAT;RECIND;SORDAT;SORIND;,G,Point;

### S57 Attributes / Properties

In [2]:
utils.get_attributes_df()

            code                           attribute attributetype class
acronym
agency       1.0   Agency responsible for production             A     F
bcnshp       2.0                        Beacon shape             E     F
buishp       3.0                      Building shape             E     F
boyshp       4.0                          Buoy shape             E     F
burdep       5.0                        Buried depth             F     F
...          ...                                 ...           ...   ...
agen         NaN                 Numeric agency code             I   NaN
fidn         NaN       Feature identification number             I   NaN
fids         NaN  Feature identification subdivision             I   NaN
rcid         NaN                   Record identifier             I   NaN
prim     50001.0          Object geometric primitive             I   NaN

[304 rows x 4 columns]

### S57 Property Code Meaning

In [5]:
utils.get_properties_df()

,Code,Attribute,Acronym,Attributetype,ID,Meaning
1,2.0,Beacon shape,BCNSHP,E,1.0,"stake, pole, perch, post"
2,2.0,Beacon shape,BCNSHP,E,2.0,whity
3,2.0,Beacon shape,BCNSHP,E,3.0,beacon tower
4,2.0,Beacon shape,BCNSHP,E,4.0,lattice beacon
5,2.0,Beacon shape,BCNSHP,E,5.0,pile beacon
...,...,...,...,...,...,...
1622,33066.0,Type of Ship,shptyp,E,15.0,boat
1636,50001.0,Object geometric primitive,PRIM,I,1.0,Point
1637,50001.0,Object geometric primitive,PRIM,I,2.0,Line
1638,50001.0,Object geometric primitive,PRIM,I,3.0,Area
1639,50001.0,Object geometric primitive,PRIM,I,255.0,Any

## 2. Convertion Example

Tests the new conversion features in ENCDataFactory.get_layer.

### PostGIS

In [10]:
from dotenv import load_dotenv
load_dotenv(project_root / '.env')

from src.maritime_module.core.s57_data import ENCDataFactory

db_params = {
    'dbname': os.getenv('DB_NAME'),
    'user': os.getenv('DB_USER'),
    'password': os.getenv('DB_PASSWORD'),
    'host': os.getenv('DB_HOST'),
    'port': os.getenv('DB_PORT')
}

print("\n--- Running test: Importing Dataset ---")
pg_factory = ENCDataFactory(source=db_params, schema="s57_advanced")

print("\n--- Running test: Acronym and Property Conversion ---")
layer_name = 'boyspp' # A good layer with enumerated properties like BOYSHP

# 1. Get raw data
gdf_raw = pg_factory.get_layer(layer_name)

print("    ✅ Fetched raw data successfully.")
gdf_raw

--- Running test: Importing Dataset ---
2025-09-15 21:00:50,141 - src.maritime_module.core.s57_data - INFO - Source is a dictionary, initializing PostGISManager.
2025-09-15 21:00:50,142 - src.maritime_module.core.s57_data - INFO - Successfully connected to database 'ENC_db'

--- Running test: Acronym and Property Conversion ---
2025-09-15 21:00:50,143 - src.maritime_module.core.s57_data - INFO - Factory: Getting layer 'boyspp'...
    ✅ Fetched raw data successfully.

,ogc_fid,rcid,prim,grup,objl,rver,agen,fidn,fids,lnam,...,catvtr,lg_spr,lg_rel,lg_fnc,lc_csi,lc_cse,lc_asi,lc_ase,lc_cci,lc_cce
0,13,1,1,2,19,3,550,29321383,50,022601BF68A70032,...,[],[],[],[],[],[],[],[],[],[]
1,18,1,1,2,19,2,550,175268243,12345,02260A7261933039,...,[],[],[],[],[],[],[],[],[],[]
2,14,2,1,2,19,2,550,29321359,50,022601BF688F0032,...,[],[],[],[],[],[],[],[],[],[]
3,15,3,1,2,19,4,550,29321392,50,022601BF68B00032,...,[],[],[],[],[],[],[],[],[],[]
4,16,4,1,2,19,2,550,29321390,50,022601BF68AE0032,...,[],[],[],[],[],[],[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,138,140,1,2,19,1,550,709558700,8673,02262A4B01AC21E1,...,[],[],[],[],[],[],[],[],[],[]
74,139,141,1,2,19,1,550,33957153,50,0226020625210032,...,[],[],[],[],[],[],[],[],[],[]
75,140,142,1,2,19,1,550,253936858,4044,02260F22C4DA0FCC,...,[],[],[],[],[],[],[],[],[],[]
76,27,3711,1,2,19,1,550,706997113,7312,02262A23EB791C90,...,[],[],[],[],[],[],[],[],[],[]
77,28,3713,1,2,19,1,550,781363483,7312,02262E92A91B1C90,...,[],[],[],[],[],[],[],[],[],[]

In [11]:
# 2. Get data with converted acronyms
gdf_acronyms = pg_factory.get_layer(layer_name, convert_acronyms=True, prop_mixed=False)

print("    ✅ Converted acronyms successfully.")
gdf_acronyms

2025-09-15 21:00:50,375 - src.maritime_module.core.s57_data - INFO - Factory: Getting layer 'boyspp'...
2025-09-15 21:00:50,408 - src.maritime_module.core.s57_data - INFO - Factory: Applying S-57 conversions...
    ✅ Converted acronyms successfully.

,ogc_fid,Record identifier (rcid),Object geometric primitive (prim),Group number (grup),Object label code (objl),Record version (rver),Numeric agency code (agen),Feature identification number (fidn),Feature identification subdivision (fids),Long name (lnam),...,Category of vehicle transfer (catvtr),speed reference (lg_spr),related issue (lg_rel),Function of legal conditions (lg_fnc),category of ship (including) (lc_csi),category of ship (excluding) (lc_cse),Assemblies of ship (including) (lc_asi),Assemblies of ship (excluding) (lc_ase),Category of cargo (including) (lc_cci),Category of cargo (excluding) (lc_cce)
0,13,1,1,2,19,3,550,29321383,50,022601BF68A70032,...,[],[],[],[],[],[],[],[],[],[]
1,18,1,1,2,19,2,550,175268243,12345,02260A7261933039,...,[],[],[],[],[],[],[],[],[],[]
2,14,2,1,2,19,2,550,29321359,50,022601BF688F0032,...,[],[],[],[],[],[],[],[],[],[]
3,15,3,1,2,19,4,550,29321392,50,022601BF68B00032,...,[],[],[],[],[],[],[],[],[],[]
4,16,4,1,2,19,2,550,29321390,50,022601BF68AE0032,...,[],[],[],[],[],[],[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,138,140,1,2,19,1,550,709558700,8673,02262A4B01AC21E1,...,[],[],[],[],[],[],[],[],[],[]
74,139,141,1,2,19,1,550,33957153,50,0226020625210032,...,[],[],[],[],[],[],[],[],[],[]
75,140,142,1,2,19,1,550,253936858,4044,02260F22C4DA0FCC,...,[],[],[],[],[],[],[],[],[],[]
76,27,3711,1,2,19,1,550,706997113,7312,02262A23EB791C90,...,[],[],[],[],[],[],[],[],[],[]
77,28,3713,1,2,19,1,550,781363483,7312,02262E92A91B1C90,...,[],[],[],[],[],[],[],[],[],[]

In [12]:
# 3. Get data with converted properties
gdf_props = pg_factory.get_layer(layer_name, convert_acronyms=True, convert_properties=True, prop_mixed=True)

# Check if a known value (e.g., 1 for 'conical') was converted
# gdf_props.assertTrue(any('conical' in str(s) for s in gdf_props['Buoy shape (boyspp)']))
print("    ✅ Converted properties successfully.")
gdf_props

2025-09-15 21:00:50,929 - src.maritime_module.core.s57_data - INFO - Factory: Getting layer 'boyspp'...
2025-09-15 21:00:50,962 - src.maritime_module.core.s57_data - INFO - Factory: Applying S-57 conversions...
    ✅ Converted properties successfully.

,ogc_fid,Record identifier (rcid),Object geometric primitive (prim),Group number (grup),Object label code (objl),Record version (rver),Numeric agency code (agen),Feature identification number (fidn),Feature identification subdivision (fids),Long name (lnam),...,Category of vehicle transfer (catvtr),speed reference (lg_spr),related issue (lg_rel),Function of legal conditions (lg_fnc),category of ship (including) (lc_csi),category of ship (excluding) (lc_cse),Assemblies of ship (including) (lc_asi),Assemblies of ship (excluding) (lc_ase),Category of cargo (including) (lc_cci),Category of cargo (excluding) (lc_cce)
0,13,1,1,2,19,3,550,29321383,50,022601BF68A70032,...,None,None,None,None,None,None,None,None,None,None
1,18,1,1,2,19,2,550,175268243,12345,02260A7261933039,...,None,None,None,None,None,None,None,None,None,None
2,14,2,1,2,19,2,550,29321359,50,022601BF688F0032,...,None,None,None,None,None,None,None,None,None,None
3,15,3,1,2,19,4,550,29321392,50,022601BF68B00032,...,None,None,None,None,None,None,None,None,None,None
4,16,4,1,2,19,2,550,29321390,50,022601BF68AE0032,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,138,140,1,2,19,1,550,709558700,8673,02262A4B01AC21E1,...,None,None,None,None,None,None,None,None,None,None
74,139,141,1,2,19,1,550,33957153,50,0226020625210032,...,None,None,None,None,None,None,None,None,None,None
75,140,142,1,2,19,1,550,253936858,4044,02260F22C4DA0FCC,...,None,None,None,None,None,None,None,None,None,None
76,27,3711,1,2,19,1,550,706997113,7312,02262A23EB791C90,...,None,None,None,None,None,None,None,None,None,None
77,28,3713,1,2,19,1,550,781363483,7312,02262E92A91B1C90,...,None,None,None,None,None,None,None,None,None,None

### File-Based DB

In [13]:
from src.maritime_module.core.s57_data import ENCDataFactory, S57AdvancedConfig, S57Advanced

file_path = Path.cwd() / 'output' / 's57_advanced.gpkg'

print("\n--- Running test: Importing Dataset ---")
file_factory = ENCDataFactory(source=file_path)

print("\n--- Running test: Acronym and Property Conversion ---")
layer_name = 'boyspp' # A good layer with enumerated properties like BOYSHP

# 1. Get raw data
gdf_raw = file_factory.get_layer(layer_name)

print("    ✅ Fetched raw data successfully.")
gdf_raw

--- Running test: Importing Dataset ---
2025-09-15 21:03:50,679 - src.maritime_module.core.s57_data - INFO - Source is a .gpkg file, initializing GPKGManager.
2025-09-15 21:03:50,692 - src.maritime_module.core.s57_data - INFO - Successfully connected to GeoPackage 's57_advanced.gpkg'

--- Running test: Acronym and Property Conversion ---
2025-09-15 21:03:50,693 - src.maritime_module.core.s57_data - INFO - Factory: Getting layer 'boyspp'...
    ✅ Fetched raw data successfully.

,rcid,prim,grup,objl,rver,agen,fidn,fids,lnam,lnam_refs,...,catvtr,lg_spr,lg_rel,lg_fnc,lc_csi,lc_cse,lc_asi,lc_ase,lc_cci,lc_cce
0,1,1,2,19,3,550,29321383,50,022601BF68A70032,[022601BF68A10032],...,[],[],[],[],[],[],[],[],[],[]
1,1,1,2,19,2,550,175268243,12345,02260A7261933039,[02262794ACF83039],...,[],[],[],[],[],[],[],[],[],[]
2,2,1,2,19,2,550,29321359,50,022601BF688F0032,[022601BF687E0032],...,[],[],[],[],[],[],[],[],[],[]
3,3,1,2,19,4,550,29321392,50,022601BF68B00032,[022601BF68B10032],...,[],[],[],[],[],[],[],[],[],[]
4,4,1,2,19,2,550,29321390,50,022601BF68AE0032,[022601BF68AF0032],...,[],[],[],[],[],[],[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,140,1,2,19,1,550,709558700,8673,02262A4B01AC21E1,[02260A11DBAD21E1],...,[],[],[],[],[],[],[],[],[],[]
74,141,1,2,19,1,550,33957153,50,0226020625210032,[],...,[],[],[],[],[],[],[],[],[],[]
75,142,1,2,19,1,550,253936858,4044,02260F22C4DA0FCC,[02260F22C0E40FCC],...,[],[],[],[],[],[],[],[],[],[]
76,3711,1,2,19,1,550,706997113,7312,02262A23EB791C90,[02262037D6251C90],...,[],[],[],[],[],[],[],[],[],[]
77,3713,1,2,19,1,550,781363483,7312,02262E92A91B1C90,[022617FCD4FA1C90],...,[],[],[],[],[],[],[],[],[],[]

#### 2. Get data with converted acronyms

In [14]:
gdf_acronyms = file_factory.get_layer(layer_name, convert_acronyms=True, prop_mixed=False)

print("    ✅ Converted acronyms successfully.")
gdf_acronyms

2025-09-15 21:04:20,706 - src.maritime_module.core.s57_data - INFO - Factory: Getting layer 'boyspp'...
2025-09-15 21:04:20,789 - src.maritime_module.core.s57_data - INFO - Factory: Applying S-57 conversions...
    ✅ Converted acronyms successfully.

,Record identifier (rcid),Object geometric primitive (prim),Group number (grup),Object label code (objl),Record version (rver),Numeric agency code (agen),Feature identification number (fidn),Feature identification subdivision (fids),Long name (lnam),Long names of related features (lnam_refs),...,Category of vehicle transfer (catvtr),speed reference (lg_spr),related issue (lg_rel),Function of legal conditions (lg_fnc),category of ship (including) (lc_csi),category of ship (excluding) (lc_cse),Assemblies of ship (including) (lc_asi),Assemblies of ship (excluding) (lc_ase),Category of cargo (including) (lc_cci),Category of cargo (excluding) (lc_cce)
0,1,1,2,19,3,550,29321383,50,022601BF68A70032,[022601BF68A10032],...,[],[],[],[],[],[],[],[],[],[]
1,1,1,2,19,2,550,175268243,12345,02260A7261933039,[02262794ACF83039],...,[],[],[],[],[],[],[],[],[],[]
2,2,1,2,19,2,550,29321359,50,022601BF688F0032,[022601BF687E0032],...,[],[],[],[],[],[],[],[],[],[]
3,3,1,2,19,4,550,29321392,50,022601BF68B00032,[022601BF68B10032],...,[],[],[],[],[],[],[],[],[],[]
4,4,1,2,19,2,550,29321390,50,022601BF68AE0032,[022601BF68AF0032],...,[],[],[],[],[],[],[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,140,1,2,19,1,550,709558700,8673,02262A4B01AC21E1,[02260A11DBAD21E1],...,[],[],[],[],[],[],[],[],[],[]
74,141,1,2,19,1,550,33957153,50,0226020625210032,[],...,[],[],[],[],[],[],[],[],[],[]
75,142,1,2,19,1,550,253936858,4044,02260F22C4DA0FCC,[02260F22C0E40FCC],...,[],[],[],[],[],[],[],[],[],[]
76,3711,1,2,19,1,550,706997113,7312,02262A23EB791C90,[02262037D6251C90],...,[],[],[],[],[],[],[],[],[],[]
77,3713,1,2,19,1,550,781363483,7312,02262E92A91B1C90,[022617FCD4FA1C90],...,[],[],[],[],[],[],[],[],[],[]

### 3. Get data with converted properties

In [17]:
gdf_props = file_factory.get_layer(layer_name, convert_acronyms=True, convert_properties=True, prop_mixed=True)

print("    ✅ Converted properties successfully.")
gdf_props

2025-09-15 21:05:05,785 - src.maritime_module.core.s57_data - INFO - Factory: Getting layer 'boyspp'...
2025-09-15 21:05:05,867 - src.maritime_module.core.s57_data - INFO - Factory: Applying S-57 conversions...
    ✅ Converted properties successfully.

,Record identifier (rcid),Object geometric primitive (prim),Group number (grup),Object label code (objl),Record version (rver),Numeric agency code (agen),Feature identification number (fidn),Feature identification subdivision (fids),Long name (lnam),Long names of related features (lnam_refs),...,Category of vehicle transfer (catvtr),speed reference (lg_spr),related issue (lg_rel),Function of legal conditions (lg_fnc),category of ship (including) (lc_csi),category of ship (excluding) (lc_cse),Assemblies of ship (including) (lc_asi),Assemblies of ship (excluding) (lc_ase),Category of cargo (including) (lc_cci),Category of cargo (excluding) (lc_cce)
0,1,1,2,19,3,550,29321383,50,022601BF68A70032,[022601BF68A10032],...,None,None,None,None,None,None,None,None,None,None
1,1,1,2,19,2,550,175268243,12345,02260A7261933039,[02262794ACF83039],...,None,None,None,None,None,None,None,None,None,None
2,2,1,2,19,2,550,29321359,50,022601BF688F0032,[022601BF687E0032],...,None,None,None,None,None,None,None,None,None,None
3,3,1,2,19,4,550,29321392,50,022601BF68B00032,[022601BF68B10032],...,None,None,None,None,None,None,None,None,None,None
4,4,1,2,19,2,550,29321390,50,022601BF68AE0032,[022601BF68AF0032],...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,140,1,2,19,1,550,709558700,8673,02262A4B01AC21E1,[02260A11DBAD21E1],...,None,None,None,None,None,None,None,None,None,None
74,141,1,2,19,1,550,33957153,50,0226020625210032,None,...,None,None,None,None,None,None,None,None,None,None
75,142,1,2,19,1,550,253936858,4044,02260F22C4DA0FCC,[02260F22C0E40FCC],...,None,None,None,None,None,None,None,None,None,None
76,3711,1,2,19,1,550,706997113,7312,02262A23EB791C90,[02262037D6251C90],...,None,None,None,None,None,None,None,None,None,None
77,3713,1,2,19,1,550,781363483,7312,02262E92A91B1C90,[022617FCD4FA1C90],...,None,None,None,None,None,None,None,None,None,None

## 3. NOAA Database Scraper

In [4]:
from src.maritime_module.utils.s57_utils import NoaaDatabase

noaa_db = NoaaDatabase()

noaa_db.get_charts(force_refresh=True, as_dataframe=True)

      enc_name  edition  update update_application_date issue_date cgds
0     US1AK90M       24       2              2024-09-17 2025-05-15   17
1     US1BS01M       16       1              2024-08-15 2024-10-10   17
2     US1BS02M       12       2              2024-03-22 2025-07-22   17
3     US1BS03M       11       5              2018-08-30 2020-11-19   17
4     US1BS04M        6       0              2018-08-29 2018-08-29   17
...        ...      ...     ...                     ...        ...  ...
6364  US6WI01A        1       0              2025-03-06 2025-03-06    9
6365  US6WI01M        4       0              2025-03-06 2025-03-06    9
6366  US6WI20A        1       1              2024-08-22 2024-09-18    9
6367  US6WI20B        1       1              2024-08-22 2024-09-18    9
6368  US6WI23A        1       0              2024-08-30 2024-08-30    9

[6369 rows x 6 columns]